<div class="VC-container">
<% if @user.user_type == "comedian" %>

  <h1>  <%= @user.user_name %> </h1>
  <%= image_tag "justin_small.png", class: "comedian-pic"%>
  <p><% if @user.received_reviews.any? %>
  <% @user.received_reviews.each do |review| %>
    <div class="review-card">
      <p><strong>Rating:</strong> <%= review.rating %> ★</p>
      <p><strong>Comment:</strong> <%= review.content %></p>
      <p><small>Event: <%= link_to review.event.title, event_path(review.event) %></small></p>
    </div>
  <% end %>
<% else %>
  <p class="review">No reviews yet.</p>
<% end %>
</p>

  <p class="description"><%= @user.description %></p>

<h3>Past Events</h3>
  <ul> <% @user.events_as_comedian.each do |event| %>
  <li>
<%= event.title %>
  </li>
  <% end %></p>
  </ul>

    <div class="social-links d-flex justify-content-center mb-3">
    <a
      href="https://www.youtube.com/"
      target="_blank"
      title="Youtube Profile"
      aria-label="Youtube Profile">
      <i class="fa-brands fa-youtube"></i></i>
    </a>

    <a
      href="https://instagram.com/"
      target="_blank"
      title="instagram Profile"
      aria-label="Instagram Profile">
      <i class="fa-brands fa-instagram"></i>
    </a>

    <a
      href="https://www.tiktok.com/"
      target="_blank"
      title="TikTok Profile"
      aria-label="TikTok Profile">
      <i class="fa-brands fa-tiktok"></i>
    </a>
  </div>


  <%= link_to "➶ Back to all events", :back, class: "show-link" %>




<%# Write all comedian related code above this line %>
<% elsif @user.user_type == "venue" %>
  <h2>Venue Profile</h2>
  <p>Welcome to <%= @user.user_name %>, the best venue in town!</p>
  <p><%= @user.description %></p>
  <strong><%= link_to "Back", :back, class: "text-decoration-none", style: "color: black;" %></strong>    </li>
  <p><% @user.events_as_venue.each do |event| %>
  <%= event.title %>
  <% end %></p>
<div style="width: 100%; height: 600px;"
  data-controller="map"
  data-map-markers-value="<%= @markers.to_json %>"
  data-map-api-key-value="<%= ENV['MAPBOX_API_KEY'] %>"></div>

<h2>Reviews about <%= @user.user_name %></h2>

<% if @user.received_reviews.any? %>
  <% @user.received_reviews.each do |review| %>
    <div class="review-card">
      <p><strong>Rating:</strong> <%= review.rating %> ★</p>
      <p><strong>Comment:</strong> <%= review.content %></p>
      <p><small>Event: <%= link_to review.event.title, event_path(review.event) %></small></p>
    </div>
  <% end %>
<% else %>
  <p>No reviews yet.</p>
<% end %>

<%= cl_image_tag @user.photo.key, height: 300, width: 400, crop: :fill if @user.photo.attached?%>




<%# Write all venue related code above this line %>
<% else %>
  <h2>Standard User Profile</h2>
  <p>Welcome, <%= @user.name %>!</p>
    <p><%= @user.description %></p>
  <strong><%= link_to "Back", :back, class: "text-decoration-none", style: "color: black;" %></strong>    </li>

<% end %>
</div>
