<div class="VC-container">
<% if @user.user_type == "comedian" %>
  <h1>  <%= @user.user_name %> </h1>
  <%= image_tag "justin_small.png", class: "comedian-pic"%>
  <p class="review"><% if @user.received_reviews.any? %>
  <% @user.received_reviews.each do |review| %>
    <div class="review-card">
      <p><strong>Rating:</strong> <%= review.rating %> ★</p>
      <p><strong>Comment:</strong> <%= review.content %></p>
      <p><small>Event: <%= link_to review.event.title, event_path(review.event) %></small></p>
    </div>
  <% end %>
<% else %>
  <p class="review">No reviews yet.</p>
<% end %>
</p>

  <p><%= @user.description %></p>

<h3>Past Events</h3>
  <ul> <% @user.events_as_comedian.each do |event| %>
  <li>
<%= event.title %>
  </li>
  <% end %></p>
  </ul>

    <div class="social-links d-flex justify-content-center mb-3">
    <a
      href="https://www.youtube.com/"
      target="_blank"
      title="Youtube Profile"
      aria-label="Youtube Profile">
      <i class="fa-brands fa-youtube"></i></i>
    </a>

    <a
      href="https://instagram.com/"
      target="_blank"
      title="instagram Profile"
      aria-label="Instagram Profile">
      <i class="fa-brands fa-instagram"></i>
    </a>

    <a
      href="https://www.tiktok.com/"
      target="_blank"
      title="TikTok Profile"
      aria-label="TikTok Profile">
      <i class="fa-brands fa-tiktok"></i>
    </a>
  </div>


  <%= link_to "➶ Back to all events", event_path(@previous_event), class: "show-link" %>



<% elsif @user.user_type == "venue" %>
<%= image_tag "ven.jpg", class: "venue-pic"%>
  <h1 class="venue-title">Welcome to <%= @user.user_name %></h1>
  <p class="description">
  <%= @user.description %>
  <%= @user.description %>
  <%= @user.description %>
  <%= @user.description %>
  <%= @user.description %>
  <%= @user.description %>
  </p>

<div class="map">
  <div class="event-map"
    style="width: 364px; height: 329px;"
    data-controller="map"
    data-map-markers-value="<%= @markers.to_json %>"
    data-map-api-key-value="<%= ENV['MAPBOX_API_KEY'] %>">
  </div>
</div>


  <h4 class="past"> Past events </h4>
  <p class="description"><% @user.events_as_venue.each do |event| %>
  <%= event.title %>
  <% end %></p>


<h4>Reviews about </h4>
<p><%= @user.user_name %></p>


<p class="review"> <% if @user.received_reviews.any? %>
  <% @user.received_reviews.each do |review| %>
    <div class="review-card">
      <p><strong>Rating:</strong> <%= review.rating %> ★</p>
      <p><strong>Comment:</strong> <%= review.content %></p>
      <p><small>Event: <%= link_to review.event.title, event_path(review.event) %></small></p>
    </div>
  <% end %>
<% else %>
  <p class="review">No reviews yet.</p>
<% end %>
</p>


  <strong><%= link_to "➶ Back to all events", event_path(@previous_event),  class: "show-link" %></strong>    </li>


<% else %>
  <h2>Standard User Profile</h2>
  <p>Welcome, <%= @user.name %>!</p>
    <p><%= @user.description %></p>
  <strong><%= link_to "➶ Back to all Events", event_path(@previous_event),  class: "show-link" %></strong>    </li>

<% end %>
</div>
