
<% if @user.user_type == "comedian" %>
  <h2>Comedian Profile</h2>
  <p>Welcome, <%= @user.user_name %>! Here’s your upcoming show:</p>
  <p><%= @user.description %></p>
  <strong><%= link_to "Back", event_path(@previous_event), class: "text-decoration-none", style: "color: black;" %></strong>    </li>
  <p><% @user.events_as_comedian.each do |event| %>
  <%= event.title %>
  <% end %></p>

<h2>Reviews about <%= @user.user_name %></h2>

<% if @user.received_reviews.any? %>
  <% @user.received_reviews.each do |review| %>
    <div class="review-card">
      <p><strong>Rating:</strong> <%= review.rating %> ★</p>
      <p><strong>Comment:</strong> <%= review.content %></p>
      <p><small>Event: <%= link_to review.event.title, event_path(review.event) %></small></p>
    </div>
  <% end %>
<% else %>
  <p>No reviews yet.</p>
<% end %>

<% elsif @user.user_type == "venue" %>
  <h2>Venue Profile</h2>
  <p>Welcome to <%= @user.user_name %>, the best venue in town!</p>
  <p><%= @user.description %></p>
  <strong><%= link_to "Back", event_path(@previous_event), class: "text-decoration-none", style: "color: black;" %></strong>    </li>
  <p><% @user.events_as_venue.each do |event| %>
  <%= event.title %>
  <% end %></p>
<div style="width: 100%; height: 600px;"
  data-controller="map"
  data-map-markers-value="<%= @markers.to_json %>"
  data-map-api-key-value="<%= ENV['MAPBOX_API_KEY'] %>"></div>

<h2>Reviews about <%= @user.user_name %></h2>

<% if @user.received_reviews.any? %>
  <% @user.received_reviews.each do |review| %>
    <div class="review-card">
      <p><strong>Rating:</strong> <%= review.rating %> ★</p>
      <p><strong>Comment:</strong> <%= review.content %></p>
      <p><small>Event: <%= link_to review.event.title, event_path(review.event) %></small></p>
    </div>
  <% end %>
<% else %>
  <p>No reviews yet.</p>
<% end %>




<% else %>
  <h2>Standard User Profile</h2>
  <p>Welcome, <%= @user.name %>!</p>
    <p><%= @user.description %></p>
  <strong><%= link_to "Back", event_path(@previous_event), class: "text-decoration-none", style: "color: black;" %></strong>    </li>

<% end %>
