
<%# ___________________________ %>
<div class="gallery">
<br>
  <div class="head-text">
<h4>Upcoming Events:</h4>
</div>

  <div class="items">
  <div class=comedian-img>
    <%= image_tag "justin_small.png", alt: "Comedian Justin" %>
  </div>
  <div class=info-text>
  Justin Small<br><br>
  MO, 10.03<br>20.00 UHR<br><br>Schinkel Bar<br>Franzoesische Str. 30<br>10117 Berlin
  </div>
  </div>

  <div class="items">
  <div class=comedian-img>
    <%= image_tag "olaf_schubert.png", alt: "Comedian Justin" %>
  </div>
  <div class=info-text>
  Olaf Schubert<br><br>
  MO, 11.03<br>19.00 UHR<br><br>Schinkel Bar<br>Franzoesische Str. 30<br>10117 Berlin
  </div>
  </div>

  <div class="items">
  <div class=comedian-img>
    <%= image_tag "atze.png", alt: "Comedian Justin" %>
  </div>
  <div class=info-text>
  Atze Schroeder<br><br>
  MO, 12.03<br>19.30 UHR<br><br>Schinkel Bar<br>Franzoesische Str. 30<br>10117 Berlin
  </div>
  </div>

  <div class="items">
  <div class=comedian-img>
    <%= image_tag "kevin_hart.png", alt: "Comedian Justin" %>
  </div>
  <div class=info-text>
  Kevin Hart<br><br>
  MO, 13.03<br>20.30 UHR<br><br>Schinkel Bar<br>Franzoesische Str. 30<br>10117 Berlin
  </div>
  </div>

</div>

<%# __________________________________ %>

<div class="back-btn-container">
  <%= link_to "Home", root_path, class: "back-btn" %>
</div>

<ul>
  <% @events.each do |event| %>
    <li>
<strong><%= link_to "event: #{event.id}", event_path(event), class: "text-decoration-none", style: "color: black;" %></strong>    </li>
  <% end %>
</ul>

<div style="width: 100%; height: 600px;"
  data-controller="map"
  data-map-markers-value="<%= @markers.to_json %>"
  data-map-api-key-value="<%= ENV['MAPBOX_API_KEY'] %>"></div>
