<div class="show-container">

<div class="event-info">
  <h1 class="event-title"><%= @event.title %></h1>
  <br>

  <div class="event-details">
    <p class="description2">
      <%= @event.description %>
    </p>

    <h2 class="event-date-time">
      <%= @event.date_time.strftime("%A, %d.%m") %>
      <%= @event.date_time.strftime("%H:%M") %>
    </h2>


  </div>
    <p class="event-venue">
      📍<%= @event.venue.address %>
    </p>

</div>

<div class="map">
<div class="event-map"
        style="width: 360px; height: 500px;"
        data-controller="map"
        data-map-markers-value="<%= @markers.to_json %>"
        data-map-api-key-value="<%= ENV['MAPBOX_API_KEY'] %>"
        data-action="click->map#resize">
</div>
</div>


<ul class="show-links">
<li><strong><%= link_to "➶ #{@event.comedian.user_name}´s Profile", user_path(@comedian, previous_event_id: @event.id), class: "show-link" %></strong>
</li>
<li><strong><%= link_to "➶ Visit #{@event.venue.user_name}´s Profile", user_path(@venue, previous_event_id: @event.id), class: "show-link" %></strong>
</li>
</ul>


  <div data-controller="interest"> <%# call Stimulus %>

<div class="event-attendance">
  <p><i class="emoji fa-regular fa-face-smile-beam"></i> <span data-interest-target="count"><%= @event.interests.count %></span> Joining</p> <%# "data-interest-target="count"" make JS to be able to access with "this.countTarget" %>
</div>

  <div class="going-button mb-3">
  <%= form_with url: event_interests_path(@event), method: :post, local: false,
      data: { action: "submit->interest#toggle", interest_target: "form" } do %> <%# data-action="submit->interest#toggle": This triggers the toggle function in InterestController when the form is submitted %>
    <% if @event.interests.exists?(user: current_user) %>
    <%= submit_tag "Cancel", class: "interest-button" %>
    <% else %>
    <%= submit_tag "I'm going", class: "interest-button" %>
    <% end %>
    <% end %>
  </div>
</div>

<div class="review-button" data-controller="review">

  <div class="review-buttons-wrapper">
    <button type="button"
            class="interest-button"
            data-action="click->review#showComedianReview">
      Comedian Review
    </button>
    <button type="button"
            class="interest-button"
            data-action="click->review#showVenueReview">
      Venue Review
    </button>
  </div>


  <div class="review-forms-wrapper">

    <div class="review-comedian-form d-none" data-review-target="comedianReview">
      <%= form_with url: event_reviews_path(@event), method: :post do |f| %>
        <%= hidden_field_tag :user_type, "comedian" %>
        <%= hidden_field_tag :reviewed_id, @event.comedian_id %>

        <div class="form-group">
          <%= label_tag :rating, "Rating for this Comedian (1 to 5)" %>
          <%= select_tag :rating, options_for_select((1..5).map { |n| ["★" * n, n] }), prompt: "Select Rating", class: "form-control", required: true %>
        </div>

        <div class="form-group">
          <%= label_tag :content, "Your Comment" %>
          <%= text_area_tag :content, "", class: "form-control", placeholder: "Write your comment for the comedian here...", rows: 4, required: true %>
        </div>

        <div class="form-actions mt-2">
          <%= submit_tag "Submit Review", class: "submit-btn" %>
        </div>
      <% end %>
    </div>


    <div class="review-venue-form d-none" data-review-target="venueReview">
      <%= form_with url: event_reviews_path(@event), method: :post do |f| %>
        <%= hidden_field_tag :user_type, "venue" %>
        <%= hidden_field_tag :reviewed_id, @event.venue_id %>

        <div class="form-group">
          <%= label_tag :rating, "Rating for this Venue (1 to 5)" %>
          <%= select_tag :rating, options_for_select((1..5).map { |n| ["★" * n, n] }), prompt: "Select Rating", class: "form-control", required: true %>
        </div>

        <div class="form-group">
          <%= label_tag :content, "Your Comment" %>
          <%= text_area_tag :content, "", class: "form-control", placeholder: "Write your comment for the venue here...", rows: 4, required: true %>
        </div>

        <div class="form-actions mt-2">
          <%= submit_tag "Submit Review", class: "submit-btn" %>
        </div>
      <% end %>
    </div>
  </div>
</div>
<br>
<strong><%= link_to "➶ Back to all Events", events_path, class: "show-link" %></strong>
<br>
<br>
</div>
